@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.biography {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.squareCont {
    flex-direction: column;
}

.cience {
    width: 90%;
}

div[class^="square-"] {
    width: 90%;
}

.mainpart {
    width: 90%;
}

@media (min-width: 800px) {
    .biography {
        flex-direction: row;
    }

    .squareCont {
        flex-direction: row;
    }

    div[class^="square-"] {
        width: 40%;
    }

    .mainpart {
        width: 50%;
    }
    
    .cience {
        width: 60%;
    }
}

.appearAnimation {
    animation-name: "appear";
    animation-duration: 1.5s;
    animation-fill-mode: "forwards";
}